<DOCTYPE html>
  <html>
    <head>
      <title>Simple App du Tutoriel Ruby on Rails | &Agrave; propos</title>
    </head>
    <body>
      <h1>&Agrave; propos de nous</h1>
      <p>
        <a href="http://railstutorial.org">Le tutoriel Ruby on Rails</a> est un
         projet de livre et de screencasts pour apprendre le développement web avec
         <a href="http://rubyonrails.org">Ruby on Rails</a>.
      </p>
    </body>
  </html>
