<DOCTYPE html>
  <html>
    <head>
      <title>Simple App du Tutoriel Ruby on Rails | Contact</title>
    </head>
    <body>
      <h1>Pages#contact</h1>
      <p>Find me in app/views/pages/contact.html.erb</p>
    </body>
  </html>
