<DOCTYPE html>
  <html>
    <head>
      <title>Simple App du Tutoriel Ruby on Rails | Accueil</title>
    </head>
    <body>
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </body>
  </html>
